#nav {
    overflow: hidden;
    background-color: #444;
}
#nav .navlink {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 15px;
    font-size: 15px;
    text-decoration: none;
}
.navlink:hover {
    background-color: #888;
}

.navlink2 {
    float: right;
    color: #f2f2f2;
    background-color: #444;
    text-align: center;
    padding: 0px;
    font-size: 15px;
    text-decoration: none;
}
